@use "variables" as *;

@mixin flex-row($justify: space-between, $align: center, $gap: .75rem) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin card-like($bg, $pad: .8rem) {
  background: $bg;
  border: 1px solid $border;
  border-radius: $radius;
  padding: $pad;
}

// Mixin para estilizar títulos
@mixin heading-style($size: 1.2rem) {
  font-size: $size;
  font-weight: 700;
  margin-bottom: .5rem;
  color: $text-dark;
}

// Mixin para centrar contenido
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

