@use "mixins";

// Demo: un contenedor flex con dirección row
.demo-row {
  @include mixins.flex-direction(row, center, center, 1rem);
  margin-bottom: 2rem;
}

// Demo: un contenedor flex con dirección column
.demo-col {
  @include mixins.flex-direction(column, center, flex-start, .75rem);
}

// Elementos que usan tamaño fijo
.box {
  @include mixins.fixed-size(60px); // cuadrado 60x60
  background: #ddd;
  border: 2px solid #333;
  border-radius: 8px;
}
